{% extends 'base.html' %}
{% block content %}
<div class="wrapper">
    {% include '../sidebar.html' %}
    <div class="main-panel">
        {% include '../navbar.html' %}
        <div class="content">
            <div class="container" style="margin-top: 20px;">
                <h4 class="card-title"> Parent List
                    {% if request.user.is_superuser %}
                    <button style="float:right" type="button" class="btn btn-info" data-toggle="modal" data-target="#parentGuardianModal">
                        <i class="glyphicon glyphicon-plus"></i> New Entry
                    </button>
                    {% endif %}
                </h4>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <form id="filter-form" method="GET" action="{% url 'parent-list' %}">
                                <div class="input-group no-border" style="float:right; width:20%;">
                                    <input type="text" style='height:40px;' name="search" value="{{ request.GET.search }}" class="form-control" placeholder="Search...">
                                    <div class="input-group-append">
                                        <button type="submit" class="input-group-text"><i class="nc-icon nc-zoom-split"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-body">
                            <div class="table">
                                <table class="table table-hover table-bordered">
                                    <thead class="text-primary text-center">
                                        <th>Name</th>
                                        <th>Address</th>
                                        <th>Contact Information</th>
                                        {% if request.user.is_superuser %}
                                        <th>Action</th>
                                        {% endif %}
                                    </thead>
                                    <tbody class="text-center">
                                        {% for parent in parents %}
                                        <tr>
                                            <td>{{ parent.first_name }} {{ parent.middle_name }} {{ parent.last_name }}</td>
                                            <td>{{ parent.address }}</td>
                                            <td>{{ parent.contact_information }}</td>
                                            <td>
                                                {% if request.user.is_superuser %}
                                                <button class="btn btn-danger edit_parent" type="button" data-id="{{ parent.id }}" data-toggle="modal" data-target="#updateParentModal">
                                                <i class="fa fa-pen"> Edit</i></button>
                                                <button type="button" class="btn btn-warning delete_parent" data-id="{{ parent.id }}" style="width:180px; margin-left: 20px;">
                                                    <a style='color:white;' href="#">
                                                        <i class="fa fa-trash">
                                                          Delete
                                                        </i>
                                                    </a>
                                                </button>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <div>
                                    {% include 'includes/pagination.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'maintenance/parent_add_modal.html' %}
{% include 'maintenance/parent_update_modal.html' %}


<script>
    $('.edit_parent').click(function() {
        const parentId = $(this).attr('data-id');
        $.ajax({
            url: `{% url 'parent-update' 0 %}`.replace('0', parentId),
            method: 'GET',
            success: function(data) {
                $('#updateParentForm').attr('action', `{% url 'parent-update' 0 %}`.replace('0', parentId));
                $('#updateParentForm input[name="first_name"]').val(data.first_name);
                $('#updateParentForm input[name="middle_name"]').val(data.middle_name);
                $('#updateParentForm input[name="last_name"]').val(data.last_name);
                $('#updateParentForm textarea[name="address"]').val(data.address);
                $('#updateParentForm textarea[name="contact_information"]').val(data.contact_information);
            }
        });
    });

    $('.delete_parent').click(function() {
        const parentId = $(this).attr('data-id');
        if(confirm("Are you sure to delete this Parent?")) {
            $.ajax({
                url: "{% url 'parent-delete' %}",
                method: 'POST',
                data: { 'id': parentId, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
                success: function(resp) {
                    if (resp == 1) {
                        alert("Data successfully deleted");
                        setTimeout(function() {
                            location.reload();
                        }, 1500);
                    } else {
                        alert("Failed to delete data");
                    }
                }
            });
        }
    });
</script>

{% endblock %}
