<!-- Update parent Modal -->
<div class="modal fade" id="updateParentModal" tabindex="-1" role="dialog" aria-labelledby="updateParentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateParentModalLabel">Update Teacher Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="updateParentForm" method="post" action="#">               
                {% csrf_token %}
                {{ parent_form.as_p }}
                <div class="modal-body">
                    <div id="update-form-errors" class="text-danger"></div>
                    <h5>Parent Information</h5>
                    <hr style="height:2px; color:black; background-color: black;">
                    <div class="container" style="width:90%;">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="first_name">First Name</label>
                                    <input class="form-control" type="text" name="first_name" value="{{ parent.first_name }}"required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="middle_name">Middle Name</label>
                                    <input class="form-control" type="text" name="middle_name" value="{{ parent.middle_name }}">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="last_name">Last Name</label>
                                    <input class="form-control" type="text" name="last_name" value="{{ parent.last_name }}"  required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="contact_information">Contact Information</label>
                                    <textarea class="form-control" name="contact_information" required>{{ parent.contact_information }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="submitUpdateParent">Update Parent</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    
   $(document).ready(function() {
    $('#updateParentForm').submit(function(event) {
        event.preventDefault();
        var formData = $(this).serialize();
        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: formData,
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            success: function(response) {
                if (response.success) {
                    window.location.reload();
                    alert('parent updated successfully');
                    $('#updateParentModal').modal('hide');
                } else {
                    var errors = response.errors;
                    displayErrors(errors);
                }
            },
            error: function(xhr, status, error) {
                console.error('AJAX Error:', error);
                var errors = xhr.responseJSON.errors;
                displayErrors(errors);
            }
        });
    });

    function displayErrors(errors) {
        $('#update-form-errors').html('');
        if (errors) {
            $.each(errors, function(field, errors) {
                $('#update-form-errors').append('<p>' + field + ': ' + errors.join(', ') + '</p>');
            });
        }
        $('#update-form-errors').show();
    }
});
</script>
