{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="wrapper">
    {% include 'sidebar.html' %}
    <div class="main-panel">
        <!-- Navbar -->
         <header>
            {% include 'navbar.html' %}
         </header>
        
        <!-- End Navbar -->
        <div class="content">
            <div class='container'>
                <h1>STUDENT DASHBOARD</h1>
                <h2>Student Enrolled for {{ current_school_year.year }}</h2><br><br>    
                <form id="filter-form" method="GET" action="{% url 'home' %}">
                    <div class="input-group no-border" style="float:right; width:20%; margin-right: 10px;">
                        <select name="school_year" class="form-control" style="height:40px;">
                            <option value="">Default (CURRENT YEAR)</option>
                            {% for year in school_years %}
                            <option value="{{ year.id }}" {% if request.GET.school_year == year.id|stringformat:'s' %} selected {% endif %}>{{ year.year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div style="float: right; margin-right: 10px; margin-top: -10px;">
                        <button style="height: 40px;" type="button" class="btn btn-primary" onclick="filterStudents()">Filter</button>
                    </div>
                </form>
                <div class="container" style="width: 700px !important;height:800px;">
                    <h3 class='text-center'>Pie Chart</h3>
                    <canvas id="genderPieChart" width="100" height="50"></canvas>
                </div>
                <div class="container" style="width: 800px !important;height:1000px;">
                        <h3 class='text-center'>Bar Chart</h3>
                        <canvas id="gradeBarChart" width="50" height="50"></canvas>
                </div>
                
            </div>
            <table id='data-table'></table>        
        </div>
    </div>
</div>

<script>
    function filterStudents() {
        document.getElementById("filter-form").submit();
    }
                                
    const pieChartData = JSON.parse('{{ pie_chart_data_json | safe }}');
    const pieCtx = document.getElementById('genderPieChart').getContext('2d');

    new Chart(pieCtx, {
        type: 'pie',
        data: {
            labels: pieChartData.labels,
            datasets: [{
                data: pieChartData.data,
                backgroundColor: pieChartData.backgroundColor
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Gender Distribution'
                }
            }
        }
    });

    const barChartData  = JSON.parse('{{ bar_chart_data_json | safe }}');
    const barCtx = document.getElementById('gradeBarChart').getContext('2d');
    new Chart(barCtx, {
        type: 'bar',
        data: {
            labels: barChartData.labels,
            datasets: [{
                label: 'Number of Students',
                data: barChartData.data,
                backgroundColor: barChartData.backgroundColor.slice(0, barChartData.labels.length),
                borderWidth: 4
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Grade Level Distribution'
                }
            }
        }
    });
</script>
{% endblock %}
