<nav class="navbar navbar-expand-lg navbar-absolute fixed-top ">
    <div class="collapse navbar-collapse justify-content-end" id="navigation">    
        <ul>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn-rotate" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-cog"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#"><i class="fa fa-pen"></i> Profile</a>
                <a class="dropdown-item" href="{% url 'logout'%}"><i class="fa fa-fw fa-power-off"></i>Logout</a>
            </div>
            </li>
        </ul>
    </div>
</nav>