{% extends 'base.html' %}
{% block content %}
<div class="wrapper">
    {% include '../sidebar.html' %}
    <div class="main-panel">
        {% include '../navbar.html' %}
        <div class="content">
            <h4 class="card-title text-center"> Student List
                {% if request.user.is_superuser %}
                <button style="float:left" type="button" class="btn btn-info" data-toggle="modal" data-target="#addAllStudentModal">
                    <i class="glyphicon glyphicon-plus"></i> New Entry
                </button>
                {% endif %}
                <span id='returncode'></span>
            </h4>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <form id="filter-form" method="GET" action="{% url 'allStudent-list' %}">
                                <div class="input-group no-border" style="float:right; width:20%;">
                                    <input type="text" style='height:40px;' name="search" value="{{ request.GET.search }}" class="form-control" placeholder="Search...">
                                    <div class="input-group-append">
                                        <button type="submit" class="input-group-text"><i class="nc-icon nc-zoom-split"></i></button>
                                    </div>
                                </div>
                                <div class="input-group no-border" style="float:right; width:20%; margin-right: 10px;">
                                    <select name="grade_level" class="form-control" style="height:40px;">
                                        <option value="">Select Grade Level (Default All)</option>
                                        {% for level in grade_levels %}
                                        <option value="{{ level.id }}" {% if request.GET.grade_level == level.id|stringformat:'s' %} selected {% endif %}>{{ level.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div >
                                <div class="input-group no-border" style="float:right; width:20%; margin-right: 10px;">
                                    <select name="grade_level" class="form-control" style="height:40px;">
                                        <option value="">Select School Year (Default All)</option>
                                        {% for year in school_years %}
                                        <option value="{{ year.id }}" {% if request.GET.school_year == 1 %} selected {% endif %}>{{ year.year }}</option>
                                        {% endfor %}
                                    </select>
                                </div >
                                <div style="float: right; margin-right: 10px;margin-top:-10px;" >
                                    <button style='height:40px;' type="button" class="btn btn-primary" onclick="filterStudents()">Filter</button>
                                </div>
                            </form>
                        </div>
                        <div class="card-body">
                            <div class="table">
                                <table class="table table-hover table-bordered">
                                    <thead class="text-primary text-center">
                                        <th>LRN No.</th>
                                        <th>Name</th>
                                        <th>Grade Level</th>
                                        <th>School Year</th>
                                    </thead>
                                    <tbody>
                                        {% for student_info in student_infos %}
                                        <tr>
                                            <td>
                                                <div style="width:40%; margin:auto;">
                                                    {{ student_info.student.lrn }}
                                                </div>
                                            </td>
                                            <td>
                                                <div style="width:50%; margin:auto;">
                                                    {{ student_info.student.first_name }} {{ student_info.student.middle_name }} {{ student_info.student.last_name }}
                                                </div>
                                               </td>
                                            <td >
                                                <div style="width:30%; margin:auto;">
                                                    {{ student_info.grade_level }}
                                                </div>
                                                
                                            </td>
                                            <td>
                                                <div style="width:30%; margin:auto;">
                                                    {{ student_info.school_year.year }}
                                                </div>
                                            </td>
                                                
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <div>
                                    {% include 'includes/pagination.html' %}
                                </div>
                                <script>
                                    function filterStudents() {
                                        document.getElementById("filter-form").submit();
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'student/studentinfo_add_modal.html' %}


{% endblock %}
