{% extends 'base.html' %}
{% block content %}
<div class="wrapper">
    {% include '../sidebar.html' %}
    <div class="main-panel">
        {% include '../navbar.html' %}
        <div class="content">
            <form id="addStudentForm" method="post" action="{% url 'student-add' %}">
                {% csrf_token %}
                <h4 class="text-center">Student Information</h4>
                <div class="container" style="width:90%;">
                    <div class="form-group">
                        {{ student_form.lrn.label_tag }} {{ student_form.lrn }}
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                {{ student_form.first_name.label_tag }} {{ student_form.first_name }}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                {{ student_form.middle_name.label_tag }} {{ student_form.middle_name }}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                {{ student_form.last_name.label_tag }} {{ student_form.last_name }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-auto" style="width: 380px;">
                            <div class="form-group">
                                {{ student_form.birth_date.label_tag }} {{ student_form.birth_date }}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                {{ student_form.place_of_birth.label_tag }} {{ student_form.place_of_birth }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-auto" style="width: 380px;">
                            <div class="form-group">
                                {{ student_form.gender.label_tag }} {{ student_form.gender }}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                {{ student_form.address.label_tag }} {{ student_form.address }}
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <h4 class="text-center">Parent/Guardian Information</h4>
                <div class="container" style="width:90%;">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                {{ parent_guardian_form.first_name.label_tag }} {{ parent_guardian_form.first_name }}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                {{ parent_guardian_form.middle_name.label_tag }} {{ parent_guardian_form.middle_name }}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                {{ parent_guardian_form.last_name.label_tag }} {{ parent_guardian_form.last_name }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                {{ parent_guardian_form.address.label_tag }} {{ parent_guardian_form.address }}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                {{ parent_guardian_form.contact_information.label_tag }} {{ parent_guardian_form.contact_information }}
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" id="submitAddStudent">Add Student</button>
            </form>
        </div>
    </div>
    </div>
</div>

<script>
    $(document).ready(function() {
      $('#addStudentForm').submit(function(event) {
        event.preventDefault(); 
        var formData = $(this).serialize();

        $.ajax({
          type: 'POST',
          url: $(this).attr('action'),
          data: formData,
          success: function(response) {
            if (response.success) {
                window.location.href = "{% url 'student-list'%}";
                alert('Student added successfully');
                $('#addStudentModal').modal('hide');
            } else {
              console.error('Unexpected response:', response);
            }
          },
          error: function(xhr, status, error) {
            console.error('AJAX Error:', error);
            var errors = xhr.responseJSON.errors;
            var parentGuardianErrors = xhr.responseJSON.parent_guardian_errors;

            $('#form-errors').html('');
            if (errors) {
              $.each(errors, function(field, errors) {
                $('#form-errors').append('<p>' + field + ': ' + errors.join(', ') + '</p>');
              });
            }
            if (parentGuardianErrors) {
              $.each(parentGuardianErrors, function(field, errors) {
                $('#form-errors').append('<p>' + field + ': ' + errors.join(', ') + '</p>');
              });
            }
            $('#form-errors').show();
          }
        });
      });
    });
</script>

{% endblock %}