<!-- Parent/Guardian Modal -->
<div class="modal fade" id="parentGuardianModal" tabindex="-1" role="dialog" aria-labelledby="parentGuardianModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="parentGuardianModalLabel">Add Parent/Guardian</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="addParentForm" method="post" action="{% url 'parent-add' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <div id="parent-guardian-errors" class="text-danger"></div>
                    <h5>Parent/Guardian Information</h5>
                    <hr style="height:2px; color:black; background-color: black;">
                    <div class="container" style="width:90%;">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="first_name">First Name:</label>
                                    <input class="form-control" type="text" name="first_name" placeholder="Parent First Name" required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="middle_name">Middle Name:</label>
                                    <input class="form-control" type="text" name="middle_name" placeholder="Parent Middle Name">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="last_name">Last Name:</label>
                                    <input class="form-control" type="text" name="last_name" placeholder="Parent Last Name" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="address">Address:</label>
                                    <textarea class="form-control" name="address" rows="3" placeholder="Parent/Guardian Address" required></textarea>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="contact_information">Contact Information:</label>
                                    <input class="form-control" type="text" name="contact_information" placeholder="Parent Contact Information" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="submitAddParent">Add Parent/Guardian</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#addParentForm').on('submit', function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function(response) {
                    if (response.success) {
                        $('select[name="parent_guardians"]').append(
                            $('<option>', {
                                value: response.parent_id,
                                text: response.parent_name,
                                selected: true 
                            })
                        );
                        $('#parentGuardianModal').modal('hide');
                    } else {
                        $('#parent-guardian-errors').html('');
                        $.each(response.errors, function(field, error) {
                            $('#parent-guardian-errors').append('<p>' + error[0] + '</p>');
                        });
                    }
                },
                error: function(response) {
                    console.log('An error occurred.');
                }
            });
        });
    });
</script>