{% extends 'base.html'%}
{% block content %}
<div class="wrapper">
    {% include '../sidebar.html' %}
    <div class="main-panel">
        {% include '../navbar.html' %}
        <div class="content">
            <div class="row">
                <div class="col-md-8" id="s_page">
                    <div class="panel panel-default">
                    <h2>Academic Record for {{ student.first_name }} {{ student.last_name }} - Grade {{ grade_level.name }}</h2>
                    <form id="filter-form" method="GET" action="#">
                        <div class="input-group no-border" style="float:right; width:20%; margin-right: 10px;">
                            <select name="grade_level" class="form-control" style="height:40px;">
                                <option value="">Select Grade Level</option>
                                {% for level in grade_levels %}
                                <option value="{{ level.id }}" {% if request.GET.grade_level == level.id|stringformat:'s' %} selected {% endif %}>{{ level.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div style="float: right; margin-right: 10px; margin-top: -10px;">
                            <button style="height: 40px;" type="button" class="btn btn-primary" onclick="filterByGradeLevel()">Filter</button>
                        </div>
                    </form>
                    <div class="panel-body">
                        <table id="records" class="table table-hover table-bordered">
                            <thead>
                                <tr class="text-center">
                                    <th>Subject</th>
                                    <th>First Grading</th>
                                    <th>Second Grading</th>
                                    <th>Third Grading</th>
                                    <th>Fourth Grading</th>
                                    <th>Final Grade</th>
                                    {% if request.user.is_superuser%}
                                    <th style="width:10%">Action</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                            {% for grade in student_grades %}
                                <tr>
                                    <td>
                                        {{ grade.subject.name }}
                                    </td>
                                    <td>
                                        {{ grade.first_grading }}
                                    </td>
                                    <td>
                                        {{ grade.second_grading }}
                                    </td>
                                    <td>
                                        {{ grade.third_grading }}
                                    </td>
                                    <td>
                                        {{ grade.fourth_grading }}
                                    </td>
                                    <td>
                                        {{ grade.final_grade }}
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td>
                                        <li>No grades available.</li>
                                    </td>
                                </tr>
                                {% endfor %}
                        </tbody>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
{% endblock %}
